{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -r '/tmp/release.zip' *.php README.md"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "xwp-helper-traits-${nextRelease.version}.zip",
            "label": "xWP Helper Traits v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
